In [17]:
import pandas as pd
import numpy as np

data1 = [[1,2,3,4,5],[11,22,33,44,55],[111,222,333,444,555]]
data_range1=pd.date_range(start='20221104',periods = 3)
df1 = pd.DataFrame(data=data1,index = data_range1,columns=['A','B','C','D','E'])
df1

              A    B    C    D    E
2022-11-04    1    2    3    4    5
2022-11-05   11   22   33   44   55
2022-11-06  111  222  333  444  555

In [15]:
data2=[12,23,34,45,56,67]
date_range2 = pd.date_range(start='20221104', periods=len(data2))
df2 = pd.Series(data=data2,index=date_range2,name = 'F')
df2

2022-11-04    12
2022-11-05    23
2022-11-06    34
2022-11-07    45
2022-11-08    56
2022-11-09    67
Freq: D, Name: F, dtype: int64

In [26]:
print(pd.concat([df1,df2],axis=1))
print(pd.concat([df1,df2],axis=0))

                A      B      C      D      E   F
2022-11-04    1.0    2.0    3.0    4.0    5.0  12
2022-11-05   11.0   22.0   33.0   44.0   55.0  23
2022-11-06  111.0  222.0  333.0  444.0  555.0  34
2022-11-07    NaN    NaN    NaN    NaN    NaN  45
2022-11-08    NaN    NaN    NaN    NaN    NaN  56
2022-11-09    NaN    NaN    NaN    NaN    NaN  67
                A      B      C      D      E     0
2022-11-04    1.0    2.0    3.0    4.0    5.0   NaN
2022-11-05   11.0   22.0   33.0   44.0   55.0   NaN
2022-11-06  111.0  222.0  333.0  444.0  555.0   NaN
2022-11-04    NaN    NaN    NaN    NaN    NaN  12.0
2022-11-05    NaN    NaN    NaN    NaN    NaN  23.0
2022-11-06    NaN    NaN    NaN    NaN    NaN  34.0
2022-11-07    NaN    NaN    NaN    NaN    NaN  45.0
2022-11-08    NaN    NaN    NaN    NaN    NaN  56.0
2022-11-09    NaN    NaN    NaN    NaN    NaN  67.0